<!DOCTYPE html>
<html>
    <head>
        <title>Zains Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Zains Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Hello</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Hello again</p>
        </article>
    </body>
</html>